body {
    font-family: sans-serif;
}

.topnav-list {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.topnav-list-link:hover {
    opacity:0.5;
}

header {
    background-color: #000;
    color: #FFF;
}

.menu-list-link {
    text-decoration:none;
    color:#fff;
}

.menu-list-link:hover {
    opacity: 0.5;
}